/* MEDIA QUERIES START */
@media screen and (max-width: 750px) {
  .nav-right a {
    display: none;
  }
  .topnav a:not(.logo) {
    margin: 0;
  }
  .topnav a.icon {
    float: right;
    display: block;
    top: 0;
    position: absolute;
    right: 25px;
    margin-top: 20px;
  }

  .topnav {
    display: block;
    padding-top: 10px;
  }

  .topnav a:hover{
    box-shadow: none;
  }

  .sidenav a{
    display: block;
    float: none;
  }
  .process {
    min-height: 800px;
  }
  .process-img img {
    display: none;
  }

  .process h3 {
    padding: 0;
  }
}
/* SIDENAV  */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* SIDENAV  */

/* hero */
@media screen and (max-width: 980px) {
  .hero1,
  .left,
  .right,
  .middle,
  .process-img,
  .process-steps,
  .progress-info,
  .description p,
  .his-col {
    width: 100%;
    text-align: center;
  }

  .about {
    display: block;
  }

  .progress-img {
    float: none;

    margin: 0 auto;
  }

  .about {
    margin: 0;
  }

  .h-row h1 {
    text-align: left;
    margin-top: 200px;
    padding: 20px;
  }

  .h-row h2 {
    text-align: left;
    padding-left: 20px;
  }
  .h-row button {
    text-align: left;
    margin: 0;
    display: block;
    padding: 20px;
    margin: 20px;
    margin-bottom: 150px;
  }

  .h-row p {
    text-align: left;
    padding-left: 20px;
  }

  .case.middle,
  .case.right {
    padding: 0;
    text-align: center;
  }

  .case.right {
    padding-bottom: 100px;
  }

  .faq,
  .schedule h2,
  .schedule p {
    padding: 20px;
    text-align: center;
  }

  .schedule button {
    margin-bottom: 100px;
  }

  .progress-info,
  .process-steps {
    padding: 20px;
    text-align: center;
  }
  .progress-info br {
    display: none;
  }

  .footer a {
    display: block;
    padding: 0;
    line-height: 25px;
  }
  .footer p {
    padding-bottom: 20px;
  }

  .hero2,
  #his-col2 {
    display: none;
  }
}
/* MEDIA QUERIES END */
