/* GLOBAL START */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/Abstract-Envelope.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

div {
  margin: 0;
}

hr {
  width: 200px;
  border: 1px solid #05386b;
  margin-bottom: 70px;
}

h2 {
  margin: 0;
}

#more {
  display: none;
}

.left,
.right {
  width: 30%;
}

.middle {
  width: 30%;
}
/* GLOBAL END */
/* NAVBAR START  */

.topnav {
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  transition: 0.3s;
}

.topnav a {
  float: left;
  display: block;
  color: #05386b;
  font-weight: lighter;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}



.logo {
  margin-left: 10px;
}

.nav-right a:hover {
  border-bottom: 2px solid #8ee4af;
}

.nav-right a{
  margin-right: 30px;
}


.topnav .icon {
  display: none;
}

.topnav img {
  width: 80px;
}

.nav-colored {
  background-color: #fff;
}
.nav-transparent {
  background-color: transparent;
}
.navfont a {
  color: #05386b;
}

/* NAVBAR END  */
/* SIDENAV  */
.sidenav {
  height: 100vh;
  width: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(211,211,211,0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #05386b;
  display: block;
  transition: 0.3s;
}

.sidenav a:not(.closebtn){
   line-height: 3;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 31px;
  font-size: 45px;
  margin-left: 50px;
  padding: 0;
  margin-top: 20px;
}

/* SIDENAV  */



/* HERO START */

.h-row {
  min-height: 86vh;
}

.hero1,
.hero2 {
  float: left;
  width: 50%;
  height: 100vh;
  text-align: left;
}

.hero2 img {
  margin-top: 100px;
  width: 100%;
}

.hero1 h1 {
  font-size: 70px;
  color: #edf5e1;
  font-weight: 700;
  padding-top: 200px;
  margin-bottom: 24px;
  padding-left: 100px;
  margin: 0 auto;
}

.hero1 h2 {
  font-size: 35px;
  color: #edf5e1;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: left;
  padding-left: 100px;
}

.hero1 p {
  font-size: 20px;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 16px;
  padding-left: 100px;
  color: #05386b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.hero1 button {
  height: 50px;
  width: 150px;
  padding: 10px;
  margin-left: 100px;
  border: none;
  background-color: rgb(255, 122, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

.h-row:after,
.his-row {
  content: "";
  display: table;
  clear: both;
}

.hero1 i {
  font-size: 20px;
}

/* HERO END */
/* HISTORY */
.history {
  width: 100%;
  min-height: 900px;
  text-align: center;
  background-color: whitesmoke;
  margin: 0;
}

.history h2 {
  font-size: 30px;
  color: #16325b;
  padding-top: 70px;
  font-weight: bold;
}

.history p {
  color: #5d646d;
  font-weight: bold;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  word-spacing: 5px;
  margin: 0;
}

.his-col {
  float: left;
  width: 50%;
  padding: 10px;
  min-height: 470px;
  margin: 0 auto;
  overflow: hidden;
}

/* HISTORY */

/* ABOUT START */
#about {
  width: 100%;
  min-height: 750px;
  text-align: center;
  background-image: url(../images/Pattern-Randomized\ \(1\).svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.about img {
  width: 150px;
  margin-bottom: 20px;
}

.middle img {
  width: 95px;
}

.about {
  width: 90%;
  min-height: 450px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.container {
  width: 90%;
  background-color: whitesmoke;
  height: 650px;
  margin: 0 auto;
}

#about h2 {
  font-size: 30px;
  color: #16325b;
  padding-top: 70px;
  font-weight: bold;
  margin: 0;
}

.description {
  float: left;
  color: #5d646d;
  line-height: 1.8;
  font-weight: bold;
}

.description.middle {
  padding-left: 55px;
  padding-right: 55px;
}

.description h3 {
  color: #05386b;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.description p {
  text-align: center;
}

.about:after {
  content: "";
  display: table;
  clear: both;
}
/* ABOUT END */

/* process START  */
#process {
  min-height: 1000px;
  text-align: center;
  background-color: whitesmoke;

  margin: 0;
}
.process h2 {
  font-size: 30px;
  color: #05386b;
  margin-top: 0;
  padding-top: 70px;
  font-weight: bold;
}

.process h3 {
  color: #05386b;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}

.process p {
  color: #5d646d;
  font-weight: bold;
  /* padding-bottom: 50px; */
}

.process a {
  color: #05386b;
}

.process-img img,
.progress-img img {
  width: 100%;
  margin-top: 100px;
}

.process-steps,
.process-img,
.progress-img,
.progress-info {
  float: left;
  width: 50%;
  text-align: left;
}

.process-steps {
  padding-left: 100px;
}

.process:after {
  content: "";
  display: table;
  clear: both;
}

.progress-info {
  margin-top: 230px;
  padding-left: 130px;
  line-height: 1.8;
}

.progress-info h2 {
  font-size: 35px;
  color: #16325b;
  margin-bottom: 18px;
  margin-top: 0;
  font-weight: bold;
  line-height: 1.4;
}
/* process END  */

/* SCHEDULE START  */
#schedule {
  width: 100%;
  min-height: 500px;
  background-color: whitesmoke;
  text-align: center;
}

.schedule h2 {
  color: #16325b;
  font-size: 30px;
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
  font-weight: bold;
}

.schedule p {
  text-align: center;
  font-weight: bold;
}

.schedule a {
  background-color: #05386b;
  color: white;
  padding: 14px 25px;
  text-align: center;
  transition: 0.4s;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0.6;
}

.schedule a:hover {
  opacity: 1;
}

/* SCHEDULE END  */
/* CONTACT  */
.contact {
  width: 100%;
  height: 500px;
  background-color: whitesmoke;
  text-align: center;
  padding-top: 50px;
  color: #5d646d;
  font-weight: bold;
}

.contact h2 {
  font-size: 30px;
  color: #16325b;
  padding-top: 70px;
  font-weight: bold;
  margin: 0;
}

.contact p {
  text-align: center;
}

.contact i {
  padding-right: 20px;
  color: #05386b;
}

.contact-bg {
  background-color: #fff;
  width: 90%;
  height: 400px;
  margin: 0 auto;
}

/* CONTACT  */
/* FOOTER START  */
#footer {
  width: 100%;
  min-height: 350px;
}

#footer-img {
  background-image: url(https://d33wubrfki0l68.cloudfront.net/d878614d97021fdeea6d1059797901a56ac871d8/bfc03/_next/static/images/footer-bg-552708bc98446e2327640a16897ccc19.png);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 50px;
}

.footer {
  text-align: center;
}
.footer img {
  width: 130px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer-nav {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.footer a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  transition: transform 0.3s;
}

.footer a:hover {
  color: #05386b;
  transform: scale(1.5);
}

.footer p {
  text-align: center;
  color: #05386b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
/* FOOTER END  */
