/* GLOBAL START */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
  }

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #243b75;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
#more {
  display: none;
}

.left, .right {
  width: 30%;
}

.middle {
  width: 30%;
}
/* GLOBAL END */
/* NAVBAR START  */
 
.topnav {
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;  
  display: flex;
  align-items: center;
  z-index: 99;
  transition: background-color 200ms linear;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover:not(.icon) {
  background-color: #ddd;
  color: black;
}


.topnav .icon {
  display: none;
}

.topnav img{
  width: 80px;
}

.nav-colored { background-color:#fff}
.nav-transparent { background-color:transparent;}
.nav-font{ color: #000;}


  /* NAVBAR END  */
/* SIDENAV  */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* SIDENAV  */
  /* HERO START */

.h-row{
   min-height: 86vh ;
}


.hero1,.hero2 {
    float: left;
    width: 50%;
    /* height: 300px;  */
    text-align: left;
  }

  .hero2 img{
    margin-top: 100px;
    width: 100%;

  }

  .hero1 h1{
    font-size: 35px;
    color: white;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 360px;
    padding-left: 100px;
  }

  .hero1 p{
      margin-bottom: 16px;
      padding-left: 100px;
      color:#ddd;
  }

  .hero1 button {
    height: 50px;
    width: 150px;
    padding: 10px;
    margin-left: 100px;
    border: none;
    background-color: rgb(255, 122, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
  }
      
  
 
  .h-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .hero1 i{
    font-size: 20px;
  }
  
  /* HERO END */


  /* ABOUT START */
  #about{
    width: 100%;
    min-height: 700px;
    background-color: rgb(236, 240, 254);
    text-align: center;
   
  }

  .about img{
      width: 150px;
      margin-bottom: 20px;
  }

  .middle img{
      width: 95px;
  }
.carousel{
    width: 100%;
    height: 130px;
}

.about{
    width: 100%;
    text-align: center;
    justify-content: center;
    /* padding-left: 10%; */
    margin-left: 5%;
}

#about h2{
  font-size: 30px;
  color: #16325b;
  margin-bottom: 70px;
  font-weight: bold;
  
}

.description {
    float: left;
    /* height: 300px;  */
    color: gray;
    line-height: 1.8;
  }

  .description.middle{
    padding-left: 55px;
    padding-right: 55px;
  }
  
  .description h3{
    color:black;
    font-size: 19px;
    font-weight: bolder;
    text-align: center;
    
  }

  .description p{
    text-align: center;
  }
  
  .about:after {
    content: "";
    display: table;
    clear: both;
  }
  /* ABOUT END */

/* process START  */
#process{
  min-height: 1000px;
  text-align: center;
  background-color: whitesmoke;
}
.process h2{
  font-size: 30px;
  color: #16325b;
  margin-bottom: 70px;
  margin-top: 0;
  padding-top: 70px;
  font-weight: bold;
}

.process h3{
  color: #0f2137;
}

.process p{
 color: #5d646d;
 font-weight: bold;
 padding-bottom: 50px;
}

.process-img img,
.progress-img img{
  width: 100%;
  margin-top: 275px;
}

.process-steps,
.process-img,
.progress-img,
.progress-info {
   float: left;
   width: 50%;
   text-align: left;
 }

  .process-steps{
   padding-left: 200px;
 }
   
 .process:after {
   content: "";
   display: table;
   clear: both;
 }

 .progress-info{
   margin-top: 230px;
   padding-left: 130px;
   line-height: 1.8;
 }

 .progress-info h2{
  font-size: 35px;
  color: #16325b;
  margin-bottom: 18px;
  margin-top: 0;
  font-weight: bold;
  line-height: 1.4;
 }
/* process END  */

/* CASE STUDIES START  */
#studies{
  width: 100%;
  min-height: 500px;
  background-color: #ecf0fe;
  justify-content: center;

}

#studies h2{
  text-align: center;
  margin-top: 0;
  padding-top: 70px;
  font-size: 30px;
  color: #16325b;
}
.studies{
  margin-left: 10%;
}

.case{
  float: left;
  text-align: center;
  justify-content: center;
}

.case.middle{
  padding-left: 50px;
}

.case.right{
  padding-left: 100px;
}
.case h3,p{
  text-align: left;
}
.case img{
  width: 100px;
  float: left;
}
.studies:after {
  content: "";
  display: table;
  clear: both;
}
/* CASE STUDIES END  */

/* FAQ START  */
#faq{
  width: 100%;
  min-height: 650px;
  background-color: white;
}

#faq h2{
  color: #16325b;
  font-size: 30px;
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
  font-weight: bold;
}

.faq i{
  color: #16325b;
  padding-right: 10px;
}


.faq{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 40px;
}

.faq p{
  font-size: 19px;
  color: #16325b;
}

hr{
  opacity: 0.5;
}
/* FAQ END  */

/* SCHEDULE START  */
#schedule{
  width: 100%;
  min-height: 300px;
  background-color: #ecf0fe;
  text-align: center;
}

.schedule h2{
  color: #16325b;
  font-size: 30px;
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
  font-weight: bold;
}

.schedule p{
  text-align: center;
}

.schedule button{
  height: 50px;
  width: 300px;
  font-size: 18px;
  border: none;
  background-color: rgb(255, 122, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
}
/* SCHEDULE END  */

/* FOOTER START  */
#footer{
  width: 100%;
  min-height: 350px;

}

#footer-img{
  background-image: url(https://d33wubrfki0l68.cloudfront.net/d878614d97021fdeea6d1059797901a56ac871d8/bfc03/_next/static/images/footer-bg-552708bc98446e2327640a16897ccc19.png);
  height: 350px;
  width: 50%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  margin: 0 auto;
  margin-top: 50px;
  
}

.footer{
  text-align: center;
}
.footer img{
  width: 130px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer-nav{
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding-right: 25px;
  font-weight: bold;
}

.footer p{
  text-align: center;
  color: white;
}
/* FOOTER END  */
